body{
    margin: 0;
    font-family: "Helvetica", sans-serif;
    font-size: 35px;
    background-color: #383838;
    color: #FFF;
}

h4{
    text-align: left;
    margin-left: 30px;
}

main{
    margin-bottom: 75px;
    height: 75vh;
}
#calc-output{
    width: 350px;
    margin: 0 0 25px;;
    background: #FFF;
    color: #1b1b1b;
    text-align: right;
    border-radius: 10px;
}

#calc-output span{
    margin-right: 25px;
}

#calc{
    height: auto;
    background: #2a272b;
    width: 350px;
    padding: 25px;
    text-align: center;
    border-radius: 5%;
    margin: 0 auto;
    box-shadow: 10px 20px 30px -10px #15171b;
}

a{
    display: inline-block;
    cursor: pointer;
}

.btn{
    background: #da5852;
    border-radius: 5%;
    width: 5vw;
    height: 9vh;
    margin-bottom: 10px;
    font-size: 40px;
    line-height: 60px;
    transition: ease-in;
    border: 1px solid #3c165f;
}

.btn :hover{
    background: #da5852;
}

.btn-bg{
    background: #67d7dc;
}

.btn-bg :hover{
    background: #76e9ef
}

.bigButton{
    width: 10vw;
}

ul{
    display: inline-flex;
}

li{
    list-style: none;
    padding: 0px 10px;
    font-size: 25px;
}

li a{
    color: #555555;
}


footer{
    background-color: #f2f2f2;
    margin-bottom: -20px;
    height: 100px;
}

@media only screen and (min-width: 320px) and (max-width: 375px) {
    #calc{
        width: 250px;
    }

    .btn{
        width: 15vw;
        font-size: 30px;
    }

    #calc-output{
        width: 100%;
    }

    #backOne,#deleteAll{
        color: #FFF;
    }

    .bigButton{
        width: 35vw;
    }

    h4{
        font-size: 30px;
    }
}


@media only screen and (min-width: 412px) and (max-width: 500px) {
    #calc{
        width: 250px;
    }

    .btn{
        width: 13vw;
        font-size: 30px;
    }

    #calc-output{
        width: 100%;
    }

    #backOne,#deleteAll{
        color: #FFF;
    }

    .bigButton{
        width: 35vw;
    }

    h4{
        font-size: 30px;
    }
}


@media only screen and (min-width: 768px) and (max-width: 1024px) {
    #calc{
        width: 500px;
    }

    #calc-input{
        margin: 0 auto 25px;
        width: auto;
    }


    .btn{
        width: 9vw;
        font-size: 30px;
    }
}